@use 'base/variables';
@use 'base/mixins';

.sobre-festival{
    column-gap: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 0;
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        margin-bottom: 2rem;
    }
    .fecha{
        color: variables.$rosa;
        font-weight: 700;
    }
}